/*Bouton ajouter*/
#addTask {
    background-color: lavender;
    color: #333;
}

/* Style général du corps de la page */
body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(-45deg, #e3eefe 0%, #efddfb 100%);
}

.sidebar {
position: fixed;
width: 240px;
left: -240px;
top: -0px;
height: 100%;
background-color: rgba(201, 162, 238, 0.9); 
transition: all .5s ease;
margin-bottom: 100%;
}

.sidebar header {
font-size: 28px;
color: #162938; 
line-height: 70px;
text-align: center;
background-color: rgba(201, 162, 238, 0.9); 
user-select: none;
font-family: 'Lato', sans-serif;
}

.sidebar a {
display: block;
height: 65px;
width: 100%;
color: #162938; 
line-height: 65px;
padding-left: 30px;
box-sizing: border-box;
border-left: 5px solid transparent;
font-family: 'Lato', sans-serif;
transition: all .5s ease;
text-decoration: none;
font-weight: 300;
}

a.active, a:hover {
border-left: 5px solid #8e7c98; 
color: #fff; 
background: linear-gradient(to left, #8e7c98, #c9a2ee); /* dégradé  */
}

.sidebar a i {
font-size: 23px;
margin-right: 16px;
color: #162938;
}

.sidebar a span {
letter-spacing: 1px;
text-transform: uppercase;
font-weight: 500; 
}
/*style sur les lien de la barre*/
.sidebar > a.active, .sidebar > a:hover:nth-child(even) {
--accent-color: #52d6f4;
--gradient-color: #c1b1f7; /* Modifier la deuxième couleur du dégradé */
}
/*style sur les lien de la barre*/
.sidebar a.active, .sidebar > a:hover:nth-child(odd) {
--accent-color: #c1b1f7; /* Modifier la couleur de l'accent */
--gradient-color: #a890fe; /* Modifier la deuxième couleur du dégradé */
}

/* cacher le check input*/
#check {
    display: none;
}

/* Style pour les boutons d'ouverture et de fermeture de la barre latérale */
label #btn, label #cancel {
    position: absolute;
    left: 5px;
    cursor: pointer;
    color: #d6adff;
    border-radius: 5px;
    margin: 15px 30px;
    font-size: 29px;
    background-color: #e8d1ff;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    inset -7px -7px 10px 0px rgba(0, 0, 0, .1),
    3.5px 3.5px 20px 0px rgba(0, 0, 0, .1),
    2px 2px 5px 0px rgba(0, 0, 0, .1);
    height: 45px;
    width: 45px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    line-height: 45px;
    transition: all .5s ease;
}
/*le bouton du sidebar */
label #cancel {
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ .sidebar {
    left: 0;
}

#check:checked ~ label #btn {
    margin-left: 245px;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancel {
    margin-left: 245px;
    opacity: 1;
    visibility: visible;
}

/*###################################################*/


.container {
    position: relative;
    top: 60px;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    color: #333;
    margin-left: 30%;
    margin-top: 5%;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
/*style pour la liste de tache*/
input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    color: #333;
    width: 300px;
    height:  25px;
    border-radius: 3px;
}
ul li {
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../Images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;


}
/*bouton efface sauvegarde*/
button {
    background:#ff5945;
    color: #fff;
    font-size: 16px;
    border: none;
    outline: none;
    padding: 16px 50px;
    cursor: pointer;
    border-radius: 40px;
}

.centrerhaut {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
}
/*mettre une line quand c'est done*/
#taskDone {
    text-decoration: line-through;
    opacity: 0.7;
}
/*style les images qui permet de supp, modif, done*/
img{
    margin-left: 20%;
    font-size: large;
}