/* Réinitialisation des marges, des rembourrages et de la boîte de modélisation */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Style general de la page*/
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../image/font_ikram.jpg) no-repeat center;
    background-position: center;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
/* Style du logo */
.logo{
    font-size: 2em;
    color: white;
    user-select: none;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    text-align: center;
}

/* Style des liens de navigation dans l'en-tête */
.navline a{
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

/* Effet de soulignement des liens de navigation */
.navline a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

/* Effet de survol des liens de navigation */
.navline a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

/* Style du bouton de connexion */
.navline .btnLogin-popup{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

/* Effet de survol du bouton de connexion */
.navline .btnLogin-popup:hover{
    background: white;
    color:  black;
}

/* Style du conteneur de formulaire */
.container {
    position: fixed;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transform: scale(0);
    transition: transform .5s ease, height .2s ease;
}

/*formulaire actif*/
.container.active-popup {
    transform: scale(1);
    margin-right: 30px;
}

.container.active {
    height: 590px;

}

/*des boîtes de formulaire login et sign up (active)*/
.container .form-box{
    width: 100%;
    padding: 40px;
}
.container .form-box.login {
    transition: transform .18s ease;
    transform: translateX(0);
}

.container.active .form-box.login{
    transition: none;
    transform: translateX(-400px);
}

.container .form-box.signup{
    position: absolute;
    transition: none;
    transform: translateX(400px);
}

.container.active .form-box.signup {
    transition: transform .18s ease;
    transform: translateX(0);
}

/*Bouton pour fermer*/
.container .fermer{
    position: absolute;
    top: 0; right: 0;
    margin-right: auto;
    margin-bottom: auto;
    width: 45px;
    height: 40px;
    background: transparent;
    font-size: 2em;
    display: flex;
    justify-content:center ;
    align-items: center;
    text-align: center;
    cursor: pointer;
    z-index: 1;

}

/* Style du titre du formulaire */
.form-box h2{
    font-size: 2em;
    color: #162938;
    text-align: center;
}

/* Style des boîtes de saisie de texte */
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

/* Style des boîtes de saisie de texte  (label)*/
.input-box label{
    position: absolute;
    top: 50% ; left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    color: #162938;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

/*lorsqu'elles sont focus ou remplies*/
.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;

}


.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #162938;
    font-weight: 600;
    padding: 0 35px 0 5px ;
}

/* Style des icônes */
.input-box .icon{
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #162938;
    line-height: 57px;
}

/* Style des cases à cocher et des liens dans la section de rappel de mot de passe oublié */
.remember-forgot{
    font-size: .9em;
    color: #162938;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input{
    accent-color: #162938;
    margin-right: 3px;
}

.remember-forgot a{
    color: #162938;
    text-decoration: none;
}

.remember-forgot  a:hover{
    text-decoration: underline;
}

/* Style du bouton de soumission du formulaire */
.btn{
    width: 100%;
    height: 45px;
    background: #c9a2ee;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
}

/* Style des liens "S'inscrire" ou "Se connecter" */
.login-signup{
    font-size: .9em;
    color: #162938;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}

.login-signup p a {
    color: #162938;
    text-decoration: none;
    font-weight: 600;
}

.login-signup p a:hover {
    text-decoration: underline;

}

/*style du texte*/
#text{
    text-align: center;
    position: absolute;
    align-items: center;
    color: rgb(48, 26, 54);
    white-space: nowrap;
    display: flex;
    justify-content: center;
    border-bottom: 2.5px solid rgb(173, 94, 178); 
    text-underline-offset: 50px;
}

/*style du bouton mit au milleu avant et apres*/
.content{
    text-align: center;
    margin-right: 25%;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: rgb(134, 78, 126);
    font-size: 24px;
    border: 3px solid #8e7c98;
    padding: 14px 70px;
    border-radius: 50px;
    margin-top: 30%;
    margin-left: 100%;
}
/* Effet de survol des liens dans la section de contenu */
.content a:hover{
    background-color: #dfc1f2;
    opacity: 60%;
    color: #2b1055;
}